* {
    box-sizing: border-box
}

body {
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.hover:hover {
    background:#e8c1f0;
    color: black;
}

.hover-font:hover {
    color: #e8c1f0;
}


/* Start Page */


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

.start {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
}

.start p {
    font-size: 1.5em;
    text-align: center;
    width: 100%;

}

.start a {
    background:purple;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px;
    padding: 10px;
    border: 1px solid black;
}


/* Questions Section */

.option-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple;
    border-radius: 15px;
    color: white;
    margin: 10px 0px;
    width: 80vw;
    height: 10vh;
    font-size: 1.3em;
}

.question-and-timer {
    display: flex;
    justify-content:space-between;
    margin: 0% 16% 0% 5%;
}

.flex {
    display: flex;
    align-items: center;
}

#timer {
    margin: 10px;
    font-weight: lighter;
}

ul {
    padding-left: 0;
}

.q-container {
    display: flex;
    justify-content: center;
    border-top: 0px;

}

.q-answer {
    color: grey;
    border-top: 1px solid grey;
    font-style: italic;
    font-weight: lighter;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* end section */

.end-btn {
    background:purple;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px;
    padding: 10px;
    border: 1px solid black;
    margin: 1em;
}

.form {
    margin: 2vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

.end-btns {
    display: flex;
    justify-content: center;
}


/* high score section */


